<div class="footer">
  <div class="background">

  </div>
  <div class="about">
    <img src="assets/images/logo_luna.svg">
    <p>A world where stories come to life</p>
    <p>© 2023 LunaLoans</p>
    <h1>Contact</h1>
    <p>contact&#64;lunaloans.com</p>
  </div>
  <div class="social">
    <h1>Social</h1>
    <div class="img">
      <img src="assets/images/facebook.svg">
      <img src="assets/images/x.svg">
      <img src="assets/images/youtube.svg">
      <img src="assets/images/instagram.svg">
      <img src="assets/images/tiktok.svg">
    </div>
  </div>
</div>
