@font-face {
  font-family: 'Esphimere';
  src: url('/assets/fonts/Esphimere.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sixty Niners';
  src: url('/assets/fonts/behance-64015bb3c88f5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.people {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.people-title1 {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-family: "Sixty Niners", serif;
  color: #F3E0EC;
  margin-bottom: 30px;
}

.peoples-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.people-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.person-image-container {
  position: relative;
}

.people-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.people-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.people-info:hover {
  opacity: 1;
}

.people-title,
.people-prenom,
.people-id,
.people-naissance,
.people-adhesion {
  color: #FFFFFF;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.people-prenom,
.people-id,
.people-naissance,
.people-adhesion {
  width: 250px;
  text-align: justify;
}

.alphabet-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-letter {
  margin: 0 10px;
  cursor: pointer;
  color: white;
}

.selected-letter {
  color: #ffcb39;
}

.search-input {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 48.5px;
  background: #F3E0EC;
  box-shadow: none;
  outline: none;
  width: 80%;
  margin-bottom: 20px;

}

.search-input:focus {
  color: Black;
}


p,
h1 {
  color: white;
}
