@font-face {
  font-family: 'Esphimere';
  src: url('/assets/fonts/Esphimere.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sixty Niners';
  src: url('/assets/fonts/behance-64015bb3c88f5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.library {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Sixty Niners", serif;
  font-size: 40px;
  color: #F3E0EC;
  margin-bottom: 30px;
}

.books-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.book-card {
  position: relative;
  width: 100%;
  height: 450px;
  color: #F3E0EC;
  cursor: pointer;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
  border-radius: 10px;
  perspective: 1000px;
}


.book-card:hover {
  transform: rotateY(180deg) scale(1.3);
  z-index: 10;
}

.card__face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: 1s ease-in-out;
}

.front-info{
  position: absolute;
  background-color: #000000;
  height: 40%;
  width : 100%;
  overflow: hidden;
  bottom : 0;
}
.front-info-cover{
  filter: blur(24px);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.front-info .book-title{
  position: absolute;
  top: -5px;
  left: 20px;
  z-index: 1;
}

.front-info .book-author{
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1;
}
.book-card:hover .book-author,.book-card:hover .book-title{
  display: none;
}



.back-info{
  position: absolute;
  background-color: #000000;
  height: 40%;
  width : 100%;
  overflow: hidden;
  bottom : 0;
}
.back-info-cover{
  filter: blur(24px);
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.back-info .book-description{
  position: absolute;
  text-align: justify;
  padding: 10px;
  top: -5px;
  left: 0;
  z-index: 1;
}

.back-info .book-release-date{
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 1;
}

.card__face img {
  position: absolute;
  bottom: 20%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__face--back {
  transform: rotateY(0.5turn);
}

.alphabet-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-letter {
  margin: 0 10px;
  cursor: pointer;
  color: #F3E0EC;
}

.selected-letter {
  color: #D94179;
}

.search-filter-controls{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search-input {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 48.5px;
  background: #F3E0EC;
  box-shadow: none;
  outline: none;
  width: 80%;
  margin-bottom: 20px;

}

.search-input:focus {
  color: Black;
}


p, h1{
  color: #F3E0EC;

}

@media only screen and (max-width: 1300px){
  .book-card:hover {
    transform: rotateY(180deg);
    z-index: 10;
  }
}
