@font-face {
  font-family: 'Esphimere';
  src: url('/assets/fonts/Esphimere.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sixty Niners';
  src: url('/assets/fonts/behance-64015bb3c88f5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.content {
  width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
    display: flex;
  width: 80%;
}


.Photo_card {
    display: flex;
    width: 554px;
    height: 396px;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 9px;
    flex-shrink: 0;
}

.Photo_card h1 {
    display: flex;
    width: 554px;
    height: 396px;
    justify-content: center;
    align-items: center;
    color: #F3E0EC;
    font-family: "Sixty Niners", serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.Photo_card p {
  align-self: stretch;
  color: #F3E0EC;
  font-family: Esphimere, serif;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  line-height: normal;
}


.Photo_card .button {
  text-decoration: none;
  border: none;
  border-radius: 16px;
  background:  #D94179;
  display: flex;
  padding: 16px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #F3E0EC;
  font-family: Esphimere, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Photo_card .button:hover{
  color: #D94179;
  background:  #F3E0EC;
}

.photo_home {
    position: relative;
    width: 554px;
    height: 396px;
}

.photo_home img{
  height: 100%;
}


.image_gauche {
    position: absolute;
    left: 0;
}

.image_droite {
  position: absolute;
  right: 0;
}




mat-grid-list {
    width: 80%;
    color: #F3E0EC;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.container h1{
  font-family: "Sixty Niners", serif;
}

.container p{
  color: #F3E0EC;
  font-weight: 100;
}

.b2 .container {
  align-items: center;

}

.bento.b1,
.bento.b2,
.bento.b3,
.bento.b4,
.bento.b5,
.bento.b6,
.bento.b7 {
    border-radius: 10px;
    overflow: hidden;
}

