@font-face {
  font-family: 'Esphimere';
  src: url('/assets/fonts/Esphimere.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Sixty Niners';
  src: url('/assets/fonts/behance-64015bb3c88f5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.content{
  width: 100%;
  display: flex;

  justify-content: center;
}

.title{
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-family: "Sixty Niners", serif;
  color: #F3E0EC;
  margin-bottom: 30px;
}

.search-filter-controls{
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 48.5px;
  background: #F3E0EC;
  box-shadow: none;
  outline: none;
  width: 80%;
  margin-bottom: 20px;

}

.search-input:focus {
  color: Black;
}

.books-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

.book-card {
  display: flex;
  height: 250px;
  width: 600px;
  color: #F3E0EC;
  align-items: center;
  justify-content: space-between;
}

.book-card img{
  height: 100%;
  border-radius: 10%;
}

.book-info{
  width: 280px;
  display: flex;
  flex-direction: column;

}
